---
Checks: >
  -*,
  clang-static-analyzer-*,
  bugprone-*,
    -bugprone-reserved-identifier,
  cert-*,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
  concurrency-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-bounds-*,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-avoid-magic-numbers,
  misc-*,
    -misc-non-private-member-variables-in-classes,
  modernize-*,
    -modernize-avoid-c-arrays,
  performance-*,
    -performance-no-int-to-ptr,
  portability-*,
  readability-*,
    -readability-magic-numbers,
    -readability-braces-around-statements,
    -readability-uppercase-literal-suffix,
    -readability-convert-member-functions-to-static,
    -readability-make-member-function-const,
    -readability-function-cognitive-complexity,
    -readability-qualified-auto,
    -readability-isolate-declaration,
HeaderFilterRegex: 'ivy/.*'
