[submodule "thirdparty/catch2/src"]
	path = thirdparty/catch2/src
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/wil/src"]
	path = thirdparty/wil/src
	url = https://github.com/microsoft/wil.git
